<section class="sectionBoekToevoegen">
    <h1>Boek toevoegen</h1>    
    <form action="" class="boekToevoegen">
        <div class="input-toevoegen">
            <label>Titel</label>
            <input type="text">
        </div>

        <div class="input-toevoegen">
            <label>Auteur</label>
            <input type="text">
        </div>

        <div class="input-toevoegen">
            <label>Genre</label>
            <input type="text"> 
        </div>
        <button type="submit" class="btn-toevoegen">Toevoegen</button>

    </form>
</section>
