<section class="sectionBoekToevoegen">
    <h1>Boek toevoegen</h1>    
    <form action="" method="POST" class="boekToevoegen" name="data">
        <div class="input-toevoegen">
            <label>Titel</label>
            <input type="text" name="titel" required>
        </div>
        <div class="input-toevoegen">
            <label>Auteur</label>
            <input type="text" name="auteur" required>
        </div>
        <div class="input-toevoegen">
            <label>Genre</label>
            <input type="text" name="genre" required> 
        </div>
        <button type="submit" class="btn-toevoegen">Toevoegen</button>

    </form>
</section>
