<h1>Boek toevoegen</h1>
<form action="">
    <label>Titel</label>
        <input type="text">

        <label>Auteur</label>
        <input type="text">

        <label>Genre</label>
        <input type="text">
        
</form>
