<section class="boekenlijst">
    <h1>Boekenlijst</h1>
    <table class="booklist">
        <tr>
            <th>Titel</th>
            <th>Auteur</th>
            <th>Genre</th>            
        </tr>
        {{#each data as |boek|}}

        <tr>
            <td>{{boek.titel}}</td> 
            <td>{{boek.auteur}}</td> 
            <td>{{boek.genre}}</td>
            <td><button type="button" class="btn-edit">Bewerken</button><button type="button" class="btn-verwijderen">Verwijderen</button></td>
        </tr>
        {{/each}}
    </table>
</section>