<section>
    <table class="booklist">
        <tr>
            <th>Titel</th>
            <th>Auteur</th>
            <th>Genre</th>            
        </tr>
        {{#each bookList}}
        <tr>
            <td>{{this.titel}}</td>
            <td>{{this.auteur}}</td>
            <td>{{this.genre}}</td>
        </tr>
        {{/each}}
    </table>
</section>