<h1>Boekenlijst</h1>
<section class="boekenlijst">
    <ul>
        {{#each bookList}}
        <li>{{this.titel}}</li>
        {{/each}}
    </ul>
    <ul>
        {{#each bookList}}
        <li>{{this.auteur}}</li>
        {{/each}}
    </ul>
    <ul>
        {{#each bookList}}
        <li>{{this.genre}}</li>
        {{/each}}
    </ul>
</section>