<nav class="menu">
    <ul>        
        <li> <!-- Source: https://www.freepik.com/free-photo/close-up-portrait-smiling-black-woman-trendy-glasses_9447844.htm -->
            <a href="/"><img src="/images/profile.svg" alt="">Profiel</a>
        </li>
        <li>
            <a href="/addbook"><img src="/images/addbook.svg" alt="">Boek toevoegen</a>
        </li>
        <li>
            <a href="/listedit"><img src="/images/list.svg" alt="">Boekenlijst</a>
        </li>        
    </ul>
</nav>