<nav class="menu">
    <ul>        
        <li><a href="/"><img src="/images/profile.svg" alt="">Profiel</a></li>
        <li><a href="/addbook"><img src="/images/addbook.svg" alt="">Boek toevoegen</a></li>
        <li><a href="/listedit"><img src="/images/list.svg" alt="">Boekenlijst</a></li>        
    </ul>
</nav>