<nav class="menu">
    <ul>        
        <li> 
            <a href="/"><img src="/images/profile.svg" alt="Profile Icon" class="profile-icon">Profiel</a>
        </li>
        <li>
            <a href="/addbook"><img src="/images/addbook.svg" alt="Add Book Icon">Boek toevoegen</a>
        </li>
        <li>
            <a href="/listedit"><img src="/images/list.svg" alt="List of Books Icon">Boekenlijst</a>
        </li>        
    </ul>
</nav>