<nav class="menu">
    <ul>
        <li><a href="/"><img src="" alt="">Home</a></li>
        <li><a href="/addbook"><img src="/images/addbook.svg" alt="">Add book</a></li>
        <li><a href="/listedit"><img src="/images/list.svg" alt="">Booklist</a></li>        
    </ul>
</nav>