<section class="form">
    <!-- Source: https://www.freepik.com/free-photo/close-up-portrait-smiling-black-woman-trendy-glasses_9447844.htm -->
    <div class="imageContainer">
        <img src="/images/photo.jpg" alt="Profile photo">
    </div>

    <form class="profiel">
        <label>
            Naam
            {{#each user}}
            <p>{{this.gebruiker}}</p>
            <a class="btn btn-success" href="/editProfiel/{{this._id}}">Bewerken</a>
        </label>
        
        <label>
            Interesses
            <p>{{this.interesses}}</p>
            {{/each}}
            <button type="button" class="btn-edit">Bewerken</button>
            
        </label>     
    </form>
</section>