<div class="form">
    <form action="">
        <label>Naam:
            <input type="text" placeholder="Allyssa">
        </label>

        <label>Interesses:
            <input type="text">
        </label>

        <label>Boekenlijst:</label>
    </form>
</div>