<section class="form">
    <h1>Profielpagina</h1>
    <img src="/images/profileicon.png" alt="">

    <form action="">
        <label>Naam:</label>
        <input type="text" placeholder="Allyssa">

        <label>Interesses:</label>
        <input type="text">

        <label>Boekenlijst:</label>
        
    </form>
</section>