<section class="form">
    <img src="/images/photo.jpg" alt="">

    <form action="">
        <label>
            Naam
            <input type="text" placeholder="Joanna">
        </label>

        <label>
            Interesses
            <input type="text">
        </label>
        
       <label>
            Boekenlijst
        </label> 
        
    </form>
</section>