<h1>Profielpagina</h1>
<section class="form">
    <img src="/images/profileicon.png" alt="">

    <form action="">
        <label>
            Naam
            <input type="text" placeholder="Allyssa">
        </label>

        <label>
            Interesses
            <input type="text">
        </label>
        
       <!-- <label>
            Boekenlijst
        </label> -->
        
    </form>
</section>