<section class="form">
    <!-- Source: https://www.freepik.com/free-photo/close-up-portrait-smiling-black-woman-trendy-glasses_9447844.htm -->
    <div class="imageContainer">
        <img src="/images/photo.jpg" alt="Profile photo">
    </div>

    <form action="" class="profiel">
        <label>
            Naam
            <input type="text" placeholder="Joanna">
        </label>
        <label>
            Interesses
            <input type="text">
        </label>     
    </form>
</section>