* {
    box-sizing:border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: "Montserrat";
    /* height: 100vh; */

      /* grid container settings */
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
}

h1 {
    text-align: center;
}

a:active {
    background-color: #3d768a;
  }

/*----------------- Navigation ---------------*/

.menu {
    background-color:#9DD4C9;
    font-size: 0.8em;
    padding: 0.5em 0.125em;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
    border-radius: 30px;
    box-shadow: 4px -2px 5px -1px rgb(0 0 0 / 11%);
}

.menu a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: #000000;
    font-weight: 500;
    
}
.menu li {
    font-size: 1em;
    list-style-type: none;
    text-align: center;
}
.menu li img {
    width: 45%;
}

.menu > ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: flex-end;
    justify-items: center;
}

.menu li:hover{
    background:linear-gradient(to bottom, #408c99 5%, #599bb3 5%);
	background-color:#408c99;
}

.menu .profile-icon {
    width: 35%;
}

/*----------------- Profiel pagina ---------------*/

form > label {
    font-size: 1.25em;
}

.form > .imageContainer {
    max-height: 14em;
    width: 9em;
    object-fit: cover;
    overflow: hidden;
    border-radius: 50%;
}

.imageContainer > img {
    max-height: 14em;
    display: inline;
    margin: 0 auto;
    height: 100%;
    width: auto;
}

.form {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    justify-items: center;
    padding: 1em 0 0 0;
    margin-bottom: 5em;
}

form.profiel{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-gap: 20%; 
}

input{
    width: 85%;
    font-size: 0.9375em;
    border-width: 0 0 1px;
    border-color: #707070;
    padding: 1.25em 0 0 0;
}

/*----------------- Boekenlijst pagina ---------------*/

.boekenlijst{
    padding: 1em;
    /* background-color: #f7f7f7; */
    /* height: 50vh; */
}

.booklist{
    width: 100%;
    padding: 1.5em;
}

.boekenlijst > table {
    border: 1px solid black;
    background-color: #f7f7f7;
}

.boekenlijst > table tr:nth-of-type(2n+0) {
    background-color: #bfe3db;
}

.booklist th, tr{
    text-align: left;
    height: 2em;
}

.booklist th{
    font-size: 0.9375em;
    
}

.booklist td{
    font-size: 0.75em;
    
}

/*----------------- Boek toevoegen ---------------*/

.boekToevoegen {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 20%;
    padding: 2em 1em;
}

.input-toevoegen {
    display: grid;
    grid-template-rows: repeat(2, 2em);
}

.btn-toevoegen {
    box-shadow: 0px 10px 14px -7px #9d9d9d;
    background-color: #3d768a;
    color: #eeeeee;
    border-radius: 12px;
    cursor: pointer;
    font-size: 1.25em;
    font-weight: bold;
    padding: 13px 32px;
    text-shadow: 0px 1px 0px #3d768a;
    width: 15em;
    height: 3em;
    border: none;
}

.btn-toevoegen:hover {
    background:linear-gradient(to bottom, #408c99 5%, #599bb3 5%);
	background-color:#408c99;
}

.btn-toevoegen:active {
    position: relative;
	top:1px;
}

/*----------------- Update form ---------------*/
.update {
    display: grid;
    grid-template-rows: 5em 1fr;
}

.update > h2 {
    display: grid;
    align-items: flex-end;
    text-align: center;
}

.updateBoek {
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    /* justify-content: center; */
    padding: 1em 1em;

}

.input-update {
    display: grid;
    grid-template-rows: 3em 3em;
}

.input-update > input {
    padding: 0.625em;
    margin: 0.625em 0;
}

.btn-update{
    background-color: #3d768a;
    color: #eeeeee;
    width: 50%;
    height: 50%;
    border-radius: 10px;
    border: none;
    box-shadow: 4px -2px 5px -1px rgba(0, 0, 0, 0.11);
    cursor: pointer;
    font-weight: bold;
}

.btn-update:hover{
    background:linear-gradient(to bottom, #408c99 5%, #599bb3 5%);
	background-color:#408c99;
}

.remove {
    cursor: pointer;
    box-shadow: 0px 10px 14px -7px #9d9d9d;
    background-color: #3d768a;
    border-radius: 12px;
    color: #eeeeee;
    font-size: 1.25em;
    font-weight: bold;
    padding: 1.175em;
    width: 100%;
    height: 80%;
    border: none;
}

.remove:hover {
    background-color: brown;
}