*{
    box-sizing:border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: "Montserrat";
    height: 100vh;

      /* grid container settings */
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
   
}

/*----------------- Navigation ---------------*/

.menu a{
    text-decoration: none;
    font-size: 0.8em;
}
.menu li{
    font-size: 1em;
    list-style-type: none;
    text-align: center;
}
.menu li img{
    width: 45%;
    
}

.menu > ul{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: flex-end;
    justify-items: center;
}

/*----------------- Profiel pagina ---------------*/

h1:first-of-type{
    visibility: hidden;
    margin: 0;
    padding: 0;
    
}

form > label{
    font-size: 1.25em;
}

.form > img{
    border-radius: 50%;
    width: 50%;
    height: 75%;
    object-fit: cover;
}

.form{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 1fr 1fr;
 
}

form{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 20%;
    padding: 0 0 .5em 1.5em;
}

label{
    display: flex;
    flex-direction: column;
}

input{
    width: 85%;
    font-size: 0.9375em;
    border-width: 0 0 1px;
    border-color: #707070;
    padding: 1.25em 0 0 0;
}

/*----------------- Boekenlijst pagina ---------------*/

.booklist{
    width: 100%;
    padding: 0 1.5em;
}


.booklist th, tr{
    text-align: left;
    height: 2em;
}

.booklist th{
    font-size: 0.9375em;
    
}

.booklist td{
    font-size: 0.75em;
    
}


